<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登录页面</title>
		<meta content="target-densityDpi=device-dpi,width=device-width, initial-scale=1, maximum-scale=1.2, user-scalable=0" name="viewport" />
		<link rel="stylesheet" href="__PUBLIC__/static/css/global.css" />
		<link rel="stylesheet" href="__PUBLIC__/static/css/style.css" />
		<script type="text/javascript" src="__PUBLIC__/static/js/jquery-1.9.1.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/static/js/main.js" ></script>
	</head>
	<body>
		<div class="title">登录页</div>
		<div class="form">
			
		</div>
	</body>
</html>
