<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>商品列表</title>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1.2, user-scalable=0" name="viewport" />
		<link rel="stylesheet" href="__PUBLIC__/static/css/sm.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/static/css/global.css" />
		<link rel="stylesheet" href="__PUBLIC__/static/css/goodslist.css" />
	</head>
	<body>
		<header class="bar bar-nav">
		  <div class='title'>商品列表</div>
		</header>
		<div class="tablist">
			<div class="buttons-tab">
				<volist name='category' id='ct'>
					<a href="#{$ct.classid}" class="tab-link button">{$ct.classname}</a>
				</volist>
			</div>
		</div>
		<div class="content">
		  <div class="content-block">
		    <div class="tabs">
		      <volist name='category' id='ct'>
		      	<div id="{$ct.classid}" class="tab">
			        <div class="goodsList">
			          <ul>
			          	
			          </ul>
			        </div>
			    </div>
		      </volist>
		    </div>
		  </div>
		</div>
		<include file='./Application/Home/View/Public/_footer.html' />
	</body>
	<script type="text/javascript" src="__PUBLIC__/static/js/jquery-1.9.1.min.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/static/js/zepto.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/static/js/sm.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/static/js/main.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/static/js/layer.js" ></script>
	<script type="text/javascript">
		$(function(){
			//默认第一个active
			//$(".buttons-tab a").eq(0).addClass('active');
			$(".buttons-tab a").eq(0).click();
			//根绝分类数量设置宽度
			var width = $(".buttons-tab a").length;
			$(".buttons-tab").width((width*8)+'rem');
			
		});
		
		//获取列表填充数据函数
		function getlist(url,obj,id){
			$.post(url,'123',function(ref){
				$(obj).html(ref);
			},'html');
		}
		//绑定事件，异步请求
		//按类别查看列表
		$("body").bind('click','',function(){
			
		});
		$(".buttons-tab a").bind('click',function(){
			//类别id
			var id = $(this).attr('href');
			id = id.replace('#','');
			
			var url='__ROOT__/Home/Goods/ajax_html';
			var obj = $("#"+id+" .goodsList ul");
			//发送请求
			getlist(url,obj,id);
		});
		
		//下架函数
		function turnoff(){
			alert();
		}
		
		//下架
		$("input[name=tokenOff]").bind("click",function(){
			alert();
			var status = $(this).val();
			var id = $(this).parent().find('input[name=id]').val();
			alert(id);
			if(status == '正常'){
				//异步修改
				
			}else{
				//异步修改
				
			}
		});
		//删除
		$("input[name=delete]").bind('click',function(){
			layer.open({
			    content: '您确定要删除该商品吗？'
			    ,btn: ['删除', '取消']
			    ,yes: function(index){
			      	var id = $(this).parent().find('input[name=id]').val();
					//异步修改
					layers('已经删除');
			    }
			});
		});
		//修改价格弹出
		$("input[name=editPrice]").bind('click',function(){
			var id = $(this).parent().find('input[name=id]').val();
			//弹出
			layer.open({
			    title: [
			      '修改价格',
			      'background-color: #eb6435; color:#fff;'
			    ],
			    content: "<input type=text style='height:2rem;width:16rem;background-color: #fff;border:1px solid #ccc;border-radius: 0.4rem;font-size: 0.8rem;' name='newPrice'/><br/>"+
			    "<input style='border: 1px solid green;color: green;padding: 0.2rem 0.6rem;background-color: #fff;border-radius: 0.4rem;font-size: 0.8rem;margin-top:2rem' onclick='sendPrice("+id+")' type=button value='确认'/>"
			});
		});
		//修改价格
		function sendPrice(id){
			var newPrice = $("input[name=newPrice]").val();
			//异步修改
			layers(newPrice);
		}
	</script>
</html>
