/*reset*/
*{margin: 0;padding: 0;}
body{font-family: "微软雅黑";}
ul,li,ol{list-style: none;}
a{text-decoration: none;color:#000;}
a:focus{outline:none;}
img{border: none;}
input{outline: none;}
::-webkit-input-placeholder{color:#999;font-family: "微软雅黑";}
:-moz-placeholder {color:#999;font-family: "微软雅黑";}
::-moz-placeholder {color:#999;font-family: "微软雅黑";}
:-ms-input-placeholder {color:#999;font-family: "微软雅黑";}

.left{float: left;}
.right{float: right;}


/*底部按钮*/
#toolBar{background-color: #f8f8f8;width: 100%;border-top: 1px solid #ccc;position: absolute;bottom: 0;}
#toolBar ul{overflow: hidden;}
#toolBar ul li{width: 33.33%;margin: 0.5rem 0;float: left;text-align: center;}
#toolBar ul li a img{height: 2rem;}
#toolBar ul li span{display: block;}