.logoBox{height: 20rem;background-color: #EB6435;}
.logo{text-align: center;}
.logo img{height: 8rem;margin: 4.5rem auto;}

.searchForm form{position: relative;text-align: center;}
.searchForm img{height: 1.4rem;color: #C2C2C2;position: absolute;left: 1.6rem;top: 0.3rem;}
.searchForm input{height: 2rem;width: 20rem;border: none;border-radius: 1rem;padding-left: 2.5rem;}

/*菜单按钮*/
.menusBox ul{overflow: hidden;}
.menusBox ul li{width: 33.33%;margin-top: 2rem;float: left;text-align: center;}
.menusBox ul li span{display: block;}


