.logoBox{height: 20rem;background-color: #EB6435;}
.logo{text-align: center;padding: 3.2rem 0;}
.icon{height: 10rem;width: 10rem;margin: 0 auto;text-align: center;border-radius: 5rem;background-color: #fff;border: none;border: 1px solid darkgray;}
.icon{background-image: url(../img/logo2.png);background-position: center;background-size:160% 85%;}
.logo img{height: 8rem;}

.searchForm form{position: relative;text-align: center;}
.searchForm img{height: 1.4rem;color: #C2C2C2;position: absolute;left: 1.6rem;top: 0.3rem;}
.searchForm input{height: 2rem;width: 20rem;border: none;border-radius: 1rem;padding-left: 2.5rem;}

/*菜单按钮*/
.menusBox ul{overflow: hidden;}
.menusBox ul li{width: 33.33%;margin-top: 2rem;float: left;text-align: center;}
.menusBox ul li span{display: block;}


