body{background-color: #f5f5fa;}
/*顶部和头像*/
.title{height: 3rem;color: #fff;background-color: #eb6435;text-align: center;line-height:3rem;}
.userIcon{height: 10rem;text-align: center;padding-top: 1.5rem;}
.icon{height: 8rem;width: 8rem;margin: 0 auto;text-align: center;background-color: #fff;border-radius: 4rem;border: none;border: 1px solid darkgray;}
.icon{background-image: url(../img/logo2.png);background-position: center;background-size:160% 85%;}
.userIcon img{height: 6rem;border-radius: 3rem;}

/*表单*/
.loginForm input{border: none;}
.codeBox{position: relative;width: 100%;overflow: hidden;}
.phoneBox{position: relative;width: 100%;overflow: hidden;}
.pwdBox{position: relative;width: 100%;overflow: hidden;}
.codeBox img{height: 1.15em;position: absolute;left: 0.6rem;top: 0.75rem;}
.phoneBox img{height: 1.5em;position: absolute;left: 0.4rem;top: 0.7rem;}
.pwdBox img{height: 1.55em;position: absolute;left: 0.4rem;top: 0.6rem;}
.codeBox input{height: 2.8rem;width: 100%;padding-left: 3.5em;border-top:1px solid #c7c8ce;background-color:#fafafa;}
.phoneBox input{height: 2.8rem;width: 100%;padding-left: 3.5em;border-top:1px solid #c7c8ce;background-color:#fafafa;}
.pwdBox input{height: 2.8rem;width: 100%;padding-left: 3.5em;border-top:1px solid #c7c8ce;border-bottom:1px solid #c7c8ce;background-color:#fafafa;}

.text{margin:1rem;color: #434342;}
.text a{color: #434342;}
.text input{margin-top: 0.3rem;margin-right: 0.3rem;}

.loginBtn{text-align: center;}
.loginBtn input{height: 2.8rem;width: 20rem;background-color: #EB6435;color: #fff;font-size: 1.2rem;border-radius: 0.5rem;}
