<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>系统首页</title>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1.2, user-scalable=0" name="viewport" />
		<link rel="stylesheet" href="__PUBLIC__/static/css/global.css" />
		<link rel="stylesheet" href="__PUBLIC__/static/css/home.css" />
	</head>
	<body>
		<div class="logoBox">
			<div class="logo">
				<div class="icon">
					<!--<img src="__PUBLIC__/static/img/logo2.png">-->
				</div>
			</div>
			<div class="searchForm">
				<form>
					<img src="__PUBLIC__/static/img/search.png" />
					<input type="text" name="search" placeholder="输入订单号查询" value="" />
				</form>
			</div>
		</div>
		<div class="menusBox">
			<ul>
				<li>
					<a href="__ROOT__/Home/Order/orderlist" class="orderSearch">
						<img src="__PUBLIC__/static/img/order_sear.png" />
						<span>订单列表</span>
					</a>
				</li>
				<li>
					<a href="__ROOT__/Home/Goods/goodslist" class="goodsManage">
						<img src="__PUBLIC__/static/img/goods.png" />
						<span>商品管理</span>
					</a>
				</li>
				<li>
					<a href="__ROOT__/Home/Income/detailed" class="money">
						<img src="__PUBLIC__/static/img/money.png" />
						<span>总收益</span>
					</a>
				</li>
			</ul>
		</div>
		<include file='./Application/Home/View/Public/_footer.html' />
	</body>
	<script type="text/javascript" src="__PUBLIC__/static/js/jquery-1.9.1.min.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/static/js/main.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/static/js/layer.js" ></script>
	<script type="text/javascript">
		$("input[name=search]").change(function(){
			var val = $(this).val();
			
			//提交搜索
			
		});
	</script>
</html>
