<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>订单列表</title>
		<meta content="initial-scale=1, maximum-scale=1.2, user-scalable=0" name="viewport" />
		
		<link rel="stylesheet" href="__PUBLIC__/static/css/sm.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/static/css/global.css" />
		<link rel="stylesheet" href="__PUBLIC__/static/css/ordersearch.css" />
	</head>
	<body>
		<header class="bar bar-nav">
		  <div class='title'>标签页</div>
		</header>
		<div class="content" style="margin-top: 3rem;">
		  <div class="buttons-tab">
		    <a href="#tab1" class="tab-link active button">待收货</a>
		    <a href="#tab2" class="tab-link button">未发货</a>
		    <a href="#tab3" class="tab-link button">未支付</a>
		  </div>
		  <div class="content-block">
		    <div class="tabs">
		      <div id="tab1" class="tab active">
		        <div class="orderList">
		          <ul>
		          	
		          </ul>
		        </div>
		      </div>
		      <div id="tab2" class="tab">
		        <div class="orderList">
		          <ul>
		          	
		          </ul>
		        </div>
		      </div>
		      <div id="tab3" class="tab">
		        <div class="orderList">
		          <ul>
		          	
		          </ul>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<include file='./Application/Home/View/Public/_footer.html' />
	</body>
	<script type="text/javascript" src="__PUBLIC__/static/js/jquery-1.9.1.min.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/static/js/zepto.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/static/js/sm.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/static/js/main.js" ></script>
	<!--<script type="text/javascript" src="__PUBLIC__/static/js/layer.js" ></script>-->
	<script type="text/javascript">
		//获取列表填充数据函数
		function getlist(url,obj){
			$.post(url,function(ref){
				if(ref.status == 0){
					$(obj).html(' ');
					$(obj).append('<div style="text-align: center;">'+ref.msg+'</div>');
					return false;
				}
				//调用填充
				var _html = '';
				$.each(ref,function(i,v){
					_html += '<li>';
					_html += '<div class="order_no">';
					_html += '<span class="no left">订单号：'+v["ordersn"]+'</span>';	
					_html += '</div>';			
					//商品循环
					$.each(v['goodlist'], function(i2,v2) {
						_html += '<div class="order_img">';	
						_html += '<div class="img left">';			
						_html += '<img src="__PUBLIC__/static/img/user_icon.jpg" />';				
						_html += '<span class="name">'+v2["goods_name"]+'</span>';				
						_html += '</div>';					
						_html += '<div class="price right">';	
						_html += '<div class="price_now">￥'+v2["member_goods_price"]+'</div>';
						_html += '<div class="price_old"><s>￥'+v2['market_price']+'</s></div>';
						_html += '<div class="count">x'+v2['goods_num']+'</div>';
						_html += '</div>';
						_html += '</div>';
					});
					
					_html += '<div class="order_customer">';
					_html += '<div class="count2">&nbsp;<span class="price_all"> 共'+v["totalnumbers"]+'件商品 &nbsp;合计：￥'+v["totalprice"]+'（含运费：￥<span class="kuaidi">0.00</span>）</span></div>';
					_html += '</div>';	
					_html += '<div class="order_address">';	
					_html += '<img class="left" src="__PUBLIC__/static/img/location.png" />';	
					_html += '<span class="left address">地址：'+v["address"]+'</span>';	
					_html += '</div>';	
					_html += '<div class="order_phone">';
					_html += '<div class="phone left">';	
					_html += '<img class="left" src="__PUBLIC__/static/img/phone.png"/>';	
					_html += '<span class="tell left">电话：'+v["mobile"]+' &nbsp;'+v["username"]+'</span>';					
					_html += '</div>';		
					_html += '<div class="right status"><input type="button" value="发货"/></div>';	
					_html += '</div></li>';					
				});
				$(obj).append(_html);
			},'json');
		}
		//绑定事件，异步请求
		$("a[href='#tab1']").bind('click',function(){
			var url='__ROOT__/Home/Order/orderunpay';
			var obj = $("#tab1 .orderList ul");
			//发送请求
			getlist(url,obj);
		});
		$("a[href='#tab2']").bind('click',function(){
			var url='__ROOT__/Home/Order/orderunpay';
			var obj = $("#tab2 .orderList ul");
			//发送请求
			getlist(url,obj);
		});
		$("a[href='#tab3']").bind('click',function(){
			var url='__ROOT__/Home/Order/orderunpay';
			var obj = $("#tab3 .orderList ul");
			//发送请求
			getlist(url,obj);
		});
	</script>
</html>
