<!DOCTYPE html>
<html>
  	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <title>日报统计</title>
	    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
	    <link rel="shortcut icon" href="/favicon.ico">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	
			<link rel="stylesheet" href="__PUBLIC__/static/css/sm.min.css" />
			<link rel="stylesheet" href="__PUBLIC__/static/css/sm-extend.min.css" />
			<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/global_c.css" />
		</head>

<body style="background:#eee;">

   <div class="page-group">
      <div class="page page-current">
         
         <header class="bar bar-nav">
            <button class="button button-link button-nav pull-left">
               <span class="icon icon-left"></span>
               返回
            </button>
            <h1 class="title">日报统计</h1>
         </header>
         
         <div class="top">
            <h1>100,000.00</h1>
            <p>今日总营收（元）</p>
         </div>
         <div class="row">
            <div class="col-50">
               <div class="col-box"><p>888</p></div>
               <p>今日客流量（人）</p>
            </div>
            <div class="col-50">
               <div class="col-box"><p>118</p></div>
               <p>今日开单数（单）</p>
            </div>
         </div>
                        
         <div class="content">
         <div class="list-block media-list">
         <!--<div class="record">-->
            <ul>
               <li>
                  <div class="item-inner">
                     <div class="item-inner-left">
                        <div class="item-title">201611110001</div>
                        <div class="item-text">
                           <span class="icon icon-me"></span>
                           <p class="employee">张三</p>
                           <p class="passengers">2人</p>
                           <p class="time">2016-11-11&nbsp;11:11</p>
                        </div>
                     </div>
                     <div class="item-inner-right">+ 50.00</div>
                  </div>
               </li>
               <li>
                  <div class="item-inner">
                     <div class="item-inner-left">
                        <div class="item-title">201611110002</div>
                        <div class="item-text">
                           <span class="icon icon-me"></span>
                           <p class="employee">张三</p>
                           <p class="passengers">3人</p>
                           <p class="time" style="">2016-11-11&nbsp;11:11</p>
                        </div>
                     </div>
                     <div class="item-inner-right">+ 65.00</div>
                  </div>
               </li>
               <li>
                  <div class="item-inner">
                     <div class="item-inner-left">
                        <div class="item-title">201611110003</div>
                        <div class="item-text">
                           <span class="icon icon-me"></span>
                           <p class="employee">张三</p>
                           <p class="passengers">4人</p>
                           <p class="time" style="">2016-11-11&nbsp;11:11</p>
                        </div>
                     </div>
                     <div class="item-inner-right">+ 66.00</div>
                  </div>
               </li>
               <li>
                  <div class="item-inner">
                     <div class="item-inner-left">
                        <div class="item-title">201611110004</div>
                        <div class="item-text">
                           <span class="icon icon-me"></span>
                           <p class="employee">张三</p>
                           <p class="passengers">2人</p>
                           <p class="time" style="">2016-11-11&nbsp;11:11</p>
                        </div>
                     </div>
                     <div class="item-inner-right">+ 78.00</div>
                  </div>
               </li>
               <li>
                  <div class="item-inner">
                     <div class="item-inner-left">
                        <div class="item-title">201611110005</div>
                        <div class="item-text">
                           <span class="icon icon-me"></span>
                           <p class="employee">张三</p>
                           <p class="passengers">3人</p>
                           <p class="time" style="">2016-11-11&nbsp;11:11</p>
                        </div>
                     </div>
                     <div class="item-inner-right">+ 68.00</div>
                  </div>
               </li>
               <li>
                  <div class="item-inner">
                     <div class="item-inner-left">
                        <div class="item-title">201611110006</div>
                        <div class="item-text">
                           <span class="icon icon-me"></span>
                           <p class="employee">张三</p>
                           <p class="passengers">4人</p>
                           <p class="time" style="">2016-11-11&nbsp;11:11</p>
                        </div>
                     </div>
                     <div class="item-inner-right">+ 86.00</div>
                  </div>
               </li>
               <li>
                  <div class="item-inner">
                     <div class="item-inner-left">
                        <div class="item-title">201611110007</div>
                        <div class="item-text">
                           <span class="icon icon-me"></span>
                           <p class="employee">张三</p>
                           <p class="passengers">2人</p>
                           <p class="time" style="">2016-11-11&nbsp;11:11</p>
                        </div>
                     </div>
                     <div class="item-inner-right">+ 78.00</div>
                  </div>
               </li>
               <li>
                  <div class="item-inner">
                     <div class="item-inner-left">
                        <div class="item-title">201611110008</div>
                        <div class="item-text">
                           <span class="icon icon-me"></span>
                           <p class="employee">张三</p>
                           <p class="passengers">2人</p>
                           <p class="time" style="">2016-11-11&nbsp;11:11</p>
                        </div>
                     </div>
                     <div class="item-inner-right">+ 88.00</div>
                  </div>
               </li>
               <li>
                  <div class="item-inner">
                     <div class="item-inner-left">
                        <div class="item-title">201611110009</div>
                        <div class="item-text">
                           <span class="icon icon-me"></span>
                           <p class="employee">张三</p>
                           <p class="passengers">2人</p>
                           <p class="time" style="">2016-11-11&nbsp;11:11</p>
                        </div>
                     </div>
                     <div class="item-inner-right">+ 99.00</div>
                  </div>
               </li>
               <li>
                  <div class="item-inner">
                     <div class="item-inner-left">
                        <div class="item-title">201611110010</div>
                        <div class="item-text">
                           <span class="icon icon-me"></span>
                           <p class="employee">张三</p>
                           <p class="passengers">2人</p>
                           <p class="time" style="">2016-11-11&nbsp;11:11</p>
                        </div>
                     </div>
                     <div class="item-inner-right">+ 100.00</div>
                  </div>
               </li>
            </ul>
         </div>
         </div>
      </div>
     </div>
     <include file='./Application/Home/View/Public/_footer.html' />
<script type='text/javascript' charset='utf-8' src="__PUBLIC__/static/js/zepto.js"></script>
<script type='text/javascript' charset='utf-8' src="__PUBLIC__/static/js/sm.js"></script>
<script type='text/javascript' charset='utf-8' src="__PUBLIC__/static/js/sm-extend.js"></script>       
</body>
</html>
