<!DOCTYPE html>
<html>
  	<head>
	    <meta charset="utf-8">
	    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
	    <title>日报统计</title>
	    <meta content="initial-scale=1, maximum-scale=1.2, user-scalable=0" name="viewport" />
		<link rel="stylesheet" href="__PUBLIC__/static/css/global.css" />
		<link rel="stylesheet" href="__PUBLIC__/static/css/daily.css" />
		</head>
<body>
	<div class="title">日报统计</div>
	<div class="top">
	    <h1>100,000.00</h1>
	    <p>今日总营收（元）</p>
	 </div>
	 <div class="row">
	    <div class="personcount left">
	       <div class="numbox"><p>888</p></div>
	       <p>今日客流量（人）</p>
	    </div>
	    <div class="ordercount left">
	       <div class="numbox"><p>118</p></div>
	       <p>今日开单数（单）</p>
	    </div>
	 </div>
	 <div class="content">
	 	<ul>
	 		<li>
              	<div class="item-inner">
                 <div class="item-inner-left">
                    <div class="item-title">201611110001</div>
                    <div class="item-text">
                       <span class="icon icon-me"></span>
                       <p class="employee">张三</p>
                       <p class="passengers">2人</p>
                       <p class="time">2016-11-11&nbsp;11:11</p>
                    </div>
                 </div>
                 <div class="item-inner-right">+ 50.00</div>
              	</div>
           	</li>
           	<li>
              	<div class="item-inner">
                 <div class="item-inner-left">
                    <div class="item-title">201611110001</div>
                    <div class="item-text">
                       <span class="icon icon-me"></span>
                       <p class="employee">张三</p>
                       <p class="passengers">2人</p>
                       <p class="time">2016-11-11&nbsp;11:11</p>
                    </div>
                 </div>
                 <div class="item-inner-right">+ 50.00</div>
              	</div>
           	</li>
           	<li>
              	<div class="item-inner">
                 <div class="item-inner-left">
                    <div class="item-title">201611110001</div>
                    <div class="item-text">
                       <span class="icon icon-me"></span>
                       <p class="employee">张三</p>
                       <p class="passengers">2人</p>
                       <p class="time">2016-11-11&nbsp;11:11</p>
                    </div>
                 </div>
                 <div class="item-inner-right">+ 50.00</div>
              	</div>
           	</li>
           	<li>
              	<div class="item-inner">
                 <div class="item-inner-left">
                    <div class="item-title">201611110001</div>
                    <div class="item-text">
                       <span class="icon icon-me"></span>
                       <p class="employee">张三</p>
                       <p class="passengers">2人</p>
                       <p class="time">2016-11-11&nbsp;11:11</p>
                    </div>
                 </div>
                 <div class="item-inner-right">+ 50.00</div>
              	</div>
           	</li>
           	<li>
              	<div class="item-inner">
                 <div class="item-inner-left">
                    <div class="item-title">201611110001</div>
                    <div class="item-text">
                       <span class="icon icon-me"></span>
                       <p class="employee">张三</p>
                       <p class="passengers">2人</p>
                       <p class="time">2016-11-11&nbsp;11:11</p>
                    </div>
                 </div>
                 <div class="item-inner-right">+ 50.00</div>
              	</div>
           	</li>
           	<li>
              	<div class="item-inner">
                 <div class="item-inner-left">
                    <div class="item-title">201611110001</div>
                    <div class="item-text">
                       <span class="icon icon-me"></span>
                       <p class="employee">张三</p>
                       <p class="passengers">2人</p>
                       <p class="time">2016-11-11&nbsp;11:11</p>
                    </div>
                 </div>
                 <div class="item-inner-right">+ 50.00</div>
              	</div>
           	</li>
           	<li>
              	<div class="item-inner">
                 <div class="item-inner-left">
                    <div class="item-title">201611110001</div>
                    <div class="item-text">
                       <span class="icon icon-me"></span>
                       <p class="employee">张三</p>
                       <p class="passengers">2人</p>
                       <p class="time">2016-11-11&nbsp;11:11</p>
                    </div>
                 </div>
                 <div class="item-inner-right">+ 50.00</div>
              	</div>
           	</li>
           	<li>
              	<div class="item-inner">
                 <div class="item-inner-left">
                    <div class="item-title">201611110001</div>
                    <div class="item-text">
                       <span class="icon icon-me"></span>
                       <p class="employee">张三</p>
                       <p class="passengers">2人</p>
                       <p class="time">2016-11-11&nbsp;11:11</p>
                    </div>
                 </div>
                 <div class="item-inner-right">+ 50.00</div>
              	</div>
           	</li>
           	<li>
              	<div class="item-inner">
                 <div class="item-inner-left">
                    <div class="item-title">201611110001</div>
                    <div class="item-text">
                       <span class="icon icon-me"></span>
                       <p class="employee">张三</p>
                       <p class="passengers">2人</p>
                       <p class="time">2016-11-11&nbsp;11:11</p>
                    </div>
                 </div>
                 <div class="item-inner-right">+ 50.00</div>
              	</div>
           	</li>
	 	</ul>
	 </div>
     <include file='./Application/Home/View/Public/_footer.html' />
     <script type="text/javascript" src="__PUBLIC__/static/js/jquery-1.9.1.min.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/static/js/main.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/static/js/layer.js" ></script>
<script type="text/javascript">
	$("#toolBar ul li").eq(0).find('img').attr('src','__PUBLIC__/static/img/home_g.png');
	$("#toolBar ul li").eq(2).find('img').attr('src','__PUBLIC__/static/img/doller_c.png');
</script>
</body>
</html>
