<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>单个门店营收详细数据统计</title>
    <meta content="initial-scale=1, maximum-scale=1.2, user-scalable=0" name="viewport" />
		<link rel="stylesheet" href="__PUBLIC__/static/css/global.css" />
		<link rel="stylesheet" href="__PUBLIC__/static/css/detaileds.css" />
</head>
<body>
	<div class="title">重庆渝中区大坪石油路店</div>
	<div class="column">
		<div id="a_canvas" style="width:400px; height: 220px;"></div>
	</div>
	<!--内容-->
	<div class="content">
		<div class="count">
			<ul>
				<li>
					<h5>客流量</h5>
          <div class="number">559888</div>
          <div class="contrast">
             <p>同前一天&nbsp;&nbsp;6%&nbsp;&nbsp;<span id="rise">↑</span></p>
             <p>上周相比&nbsp;&nbsp;9%&nbsp;&nbsp;<span id="decline">↑</span></p>
          </div>
				</li>
				<li>
					<h5>开单数</h5>
          <div class="number">188</div>
          <div class="contrast">
             <p>同前一天&nbsp;&nbsp;2%&nbsp;&nbsp;<span id="rise">↑</span></p>
             <p>上周相比&nbsp;&nbsp;8%&nbsp;&nbsp;<span id="decline">↑</span></p>
          </div>
				</li>
				<li>
					<h5>营业额</h5>
          <div class="number">¥&nbsp;8888888</div>
          <div class="contrast">
             <p>同前一天&nbsp;&nbsp;3%&nbsp;&nbsp;<span id="rise">↑</span></p>
             <p>上周相比&nbsp;&nbsp;4%&nbsp;&nbsp;<span id="decline">↑</span></p>
          </div>
				</li>
			</ul>
		</div>
		<!--月数据与日数据-->
		<div class="dailymonth">
			<ul>
				<li>
					<a href="__ROOT__/index.php/Home/Income/monthly" class="menu-box">
             <h6>月报统计</h6>
             <p>Monthly statictics</p>
             <i class="iconfont"><img src="__PUBLIC__/static/img/monthly.png"/></i>
          </a>
				</li>
				<li>
          <a href="__ROOT__/index.php/Home/Income/daily" class="menu-box">
             <h6>日报统计</h6>
             <p>Daily statictics</p>
             <i class="iconfont"><img src="__PUBLIC__/static/img/daily.png"/></i>
          </a>
       	</li>
			</ul>
		</div>
	</div>
   <include file='./Application/Home/View/Public/_footer.html' />
<script type="text/javascript" src="__PUBLIC__/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/js/echarts.common.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/js/main.js" ></script>
<script type="text/javascript">
        //指定图标的配置和数据
        var option = {
            title : {
				        text: '收益变化图',
				        subtext: '单位：元',
				        textStyle:{
				        	color:'#fff'
				        },
				        subtextStyle:{
				        	color:'#fff'
				        }
				    },
//          legend:{
//              data:['用户来源']
//          },
            xAxis:{
//          		data:["1","2","3","4","5","6","7","8","9","10","11","12"]
                data:["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"]
            },
            yAxis:{

            },
            series:[{
                name:'收益量',
                type:'line',
                data:[500,200,360,100,800,300,500,400,700,500,300,800],
                itemStyle : {  
                    normal : {  
                        lineStyle:{  
                            color:'#fff'  
                        }  
                    }  
                }, 
            }],
            axisLabel :{  
						    interval:0,
						    rotate:40
						},
//						label: {normal: {
//             show: true	//显示每个点的数据
//         }},
        };
        //初始化echarts实例
        var myChart = echarts.init(document.getElementById('a_canvas'));

        //使用制定的配置项和数据显示图表
        myChart.setOption(option);
        
				$("#toolBar ul li").eq(0).find('img').attr('src','__PUBLIC__/static/img/home_g.png');
				$("#toolBar ul li").eq(2).find('img').attr('src','__PUBLIC__/static/img/doller_c.png');
    </script>
</body>
</html>
