<!DOCTYPE html>
<html>
  	<head>
	    <meta charset="utf-8">
	    <title>月报统计</title>
	    <meta content="initial-scale=1, maximum-scale=1.2, user-scalable=0" name="viewport" />
		<link rel="stylesheet" href="__PUBLIC__/static/css/global.css" />
		<link rel="stylesheet" href="__PUBLIC__/static/css/monthly.css" />
		</head>
<body>
	<div class="title">月报统计</div>
	<div class="top">
	    <h1>100,000.00</h1>
	    <p>本月总营收（元）</p>
	 </div>
	 <div class="row">
	    <div class="personcount left">
	       <div class="numbox"><p>888</p></div>
	       <p>本月总客流量（人）</p>
	    </div>
	    <div class="ordercount left">
	       <div class="numbox"><p>118</p></div>
	       <p>本月总开单数（单）</p>
	    </div>
	 </div>
	 <div class="content">
	 	<ul>
	 		<li>
	      	<div class="item-inner">
	         <div class="item-inner-left">
	            <div class="item-title">2017-12-01</div>
	            <div class="item-text">
                   <p class="passenger_flow">客流量：3000人</p>
                   <p class="open_singular">开单数：200单</p>
               </div>
	         </div>
	         <div class="item-inner-right">+ 50000.00</div>
	      	</div>
	   </li>
	   <li>
	      	<div class="item-inner">
	         <div class="item-inner-left">
	            <div class="item-title">2017-12-01</div>
	            <div class="item-text">
                   <p class="passenger_flow">客流量：3000人</p>
                   <p class="open_singular">开单数：200单</p>
               </div>
	         </div>
	         <div class="item-inner-right">+ 50000.00</div>
	      	</div>
	   </li>
	   <li>
	      	<div class="item-inner">
	         <div class="item-inner-left">
	            <div class="item-title">2017-12-01</div>
	            <div class="item-text">
                   <p class="passenger_flow">客流量：3000人</p>
                   <p class="open_singular">开单数：200单</p>
               </div>
	         </div>
	         <div class="item-inner-right">+ 50000.00</div>
	      	</div>
	   </li>
	   <li>
	      	<div class="item-inner">
	         <div class="item-inner-left">
	            <div class="item-title">2017-12-01</div>
	            <div class="item-text">
                   <p class="passenger_flow">客流量：3000人</p>
                   <p class="open_singular">开单数：200单</p>
               </div>
	         </div>
	         <div class="item-inner-right">+ 50000.00</div>
	      	</div>
	   </li>
	   <li>
	      	<div class="item-inner">
	         <div class="item-inner-left">
	            <div class="item-title">2017-12-01</div>
	            <div class="item-text">
                   <p class="passenger_flow">客流量：3000人</p>
                   <p class="open_singular">开单数：200单</p>
               </div>
	         </div>
	         <div class="item-inner-right">+ 50000.00</div>
	      	</div>
	   </li>
	   <li>
	      	<div class="item-inner">
	         <div class="item-inner-left">
	            <div class="item-title">2017-12-01</div>
	            <div class="item-text">
                   <p class="passenger_flow">客流量：3000人</p>
                   <p class="open_singular">开单数：200单</p>
               </div>
	         </div>
	         <div class="item-inner-right">+ 50000.00</div>
	      	</div>
	   </li>
	   <li>
	      	<div class="item-inner">
	         <div class="item-inner-left">
	            <div class="item-title">2017-12-01</div>
	            <div class="item-text">
                   <p class="passenger_flow">客流量：3000人</p>
                   <p class="open_singular">开单数：200单</p>
               </div>
	         </div>
	         <div class="item-inner-right">+ 50000.00</div>
	      	</div>
	   </li>
	   <li>
	      	<div class="item-inner">
	         <div class="item-inner-left">
	            <div class="item-title">2017-12-01</div>
	            <div class="item-text">
                   <p class="passenger_flow">客流量：3000人</p>
                   <p class="open_singular">开单数：200单</p>
               </div>
	         </div>
	         <div class="item-inner-right">+ 50000.00</div>
	      	</div>
	   </li>
	   <li>
	      	<div class="item-inner">
	         <div class="item-inner-left">
	            <div class="item-title">2017-12-01</div>
	            <div class="item-text">
                   <p class="passenger_flow">客流量：3000人</p>
                   <p class="open_singular">开单数：200单</p>
               </div>
	         </div>
	         <div class="item-inner-right">+ 50000.00</div>
	      	</div>
	   </li>
	   <li>
	      	<div class="item-inner">
	         <div class="item-inner-left">
	            <div class="item-title">2017-12-01</div>
	            <div class="item-text">
                   <p class="passenger_flow">客流量：3000人</p>
                   <p class="open_singular">开单数：200单</p>
               </div>
	         </div>
	         <div class="item-inner-right">+ 50000.00</div>
	      	</div>
	   </li>
	 	</ul>
	 </div>
     <include file='./Application/Home/View/Public/_footer.html' />
     <script type="text/javascript" src="__PUBLIC__/static/js/jquery-1.9.1.min.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/static/js/main.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/static/js/layer.js" ></script>
<script type="text/javascript">
	$("#toolBar ul li").eq(0).find('img').attr('src','__PUBLIC__/static/img/home_g.png');
	$("#toolBar ul li").eq(2).find('img').attr('src','__PUBLIC__/static/img/doller_c.png');
</script>
</body>
</html>
