<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>所有门店营收列表</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
	<link rel="stylesheet" href="__PUBLIC__/static/css/sm.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/static/css/sm-extend.min.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/global_c.css" />
</head>

<body style="background:#eee;">
   <div class="page-group">
      <div class="page page-current">
         <header class="bar bar-nav">
            <button class="button button-link button-nav pull-left">
               <span class="icon icon-left"></span>
               返回
            </button>
            <h1 class="title">所有门店营收统计</h1>
         </header>
         <div class="top">
            <h1>12,345,678.00</h1>
            <p>本月总营业额（元）</p>
         </div>
         <div class="row">
            <div class="col-50">
               <div class="col-box"><p>555555.00</p></div>
               <p>昨日总营业额（元）</p>
            </div>
            <div class="col-50">
               <div class="col-box"><p>888888.00</p></div>
               <p>今日总营业额（元）</p>
            </div>
         </div>
         <div class="content">             
            <div class="list">
               <ul>
                  <li>
                     <div class="name">
                        <p>重庆渝中区大坪石油路店</p>
                        <a href="__ROOT__/Home/Income/detailed">more&nbsp;>></a>
                     </div>
                     <div class="row">
                        <div class="col-33">
                           <div class="col-box">
                              <p style="color: #00bb9c;">559888 </p>
                           </div>
                           <p>本月营业额（元）</p>
                        </div>
                        <div class="col-33">
                           <div class="col-box">
                              <p style="color: #56abe4;">16666</p>
                           </div>
                           <p>昨日营业额（元）</p>
                        </div>
                        <div class="col-33" style=" border-right:none;">
                           <div class="col-box">
                              <p style="color: #ea8010;">8366</p>
                           </div>
                           <p>今日营业额（元）</p>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="name">
                        <p>重庆重庆九龙坡区杨家坪店</p>
                        <a href="Detailed.html">more&nbsp;>></a>
                     </div>
                     <div class="row">
                        <div class="col-33">
                           <div class="col-box">
                              <p style="color: #00bb9c;">1360000</p>
                           </div>
                           <p>本月营业额（元）</p>
                        </div>
                        <div class="col-33">
                           <div class="col-box">
                              <p style="color: #56abe4;">48000</p>
                           </div>
                           <p>昨日营业额（元）</p>
                        </div>
                        <div class="col-33" style=" border-right:none;">
                           <div class="col-box">
                              <p style="color: #ea8010;">35000</p>
                           </div>
                           <p>今日营业额（元）</p>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="name">
                        <p>重庆重庆江北区观音桥店</p>
                        <a href="Detailed.html">more&nbsp;>></a>
                     </div>
                     <div class="row">
                        <div class="col-33">
                           <div class="col-box">
                              <p style="color: #00bb9c;">2060000</p>
                           </div>
                           <p>本月营业额（元）</p>
                        </div>
                        <div class="col-33">
                           <div class="col-box">
                              <p style="color: #56abe4;">65000</p>
                           </div>
                           <p>昨日营业额（元）</p>
                        </div>
                        <div class="col-33" style=" border-right:none;">
                           <div class="col-box">
                              <p style="color: #ea8010;">78000</p>
                           </div>
                           <p>今日营业额（元）</p>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="name">
                        <p>重庆沙坪坝区大学城店</p>
                        <a href="Detailed.html">more&nbsp;>></a>
                     </div>
                     <div class="row">
                        <div class="col-33">
                           <div class="col-box">
                              <p style="color: #00bb9c;">1200000</p>
                           </div>
                           <p>本月营业额（元）</p>
                        </div>
                        <div class="col-33">
                           <div class="col-box">
                              <p style="color: #56abe4;">42000</p>
                           </div>
                           <p>昨日营业额（元）</p>
                        </div>
                        <div class="col-33" style=" border-right:none;">
                           <div class="col-box">
                              <p style="color: #ea8010;">31000</p>
                           </div>
                           <p>今日营业额（元）</p>
                        </div>
                     </div>
                  </li>
               </ul>
               
            </div>   
         </div>
         
      </div>
   </div>
<script type='text/javascript' charset='utf-8' src="__PUBLIC__/static/js/zepto.js"></script>
<script type='text/javascript' charset='utf-8' src="__PUBLIC__/static/js/sm.js"></script>
<script type='text/javascript' charset='utf-8' src="__PUBLIC__/static/js/sm-extend.js"></script>              
</body>
</html>
